# Prerequisites
*.d

# Object files
*.o
*.ko
# *.obj             #How else will we keep object examples? (each obj file is less than 10Mb)
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#for MacOS
.DS_Store

# Extra
build
.vscode
src/CMakeLists.txt.user
*/qt6-supp_notfinished.txt
*.gif
*.jpeg
*.jpg
*.bmp
CMakeLists.txt.user
